<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>ArrowTech</h3>
      <strong>ATV</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="glyphicon glyphicon-home"></i>
          Home
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-briefcase"></i>
          About
        </a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="glyphicon glyphicon-duplicate"></i>
          Issue
        </a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a routerLink="/list-issue">List Issues</a>
          </li>
          <li>
            <a routerLink="">Create Issue</a>
          </li>
          <li>
            <a routerLink="">Demo 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-link"></i>
          Portfolio
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-paperclip"></i>
          FAQ
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-send"></i>
          Contact
        </a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Source</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
            <span>Toggle</span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" type="button" class="btn btn-default">Sign In</a>
            </li>
            <li>
              <a href="#" type="button">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <app-header></app-header>
    <app-home></app-home>
  </div>
</div>